body{
    text-align: center;
    font-family: "Happy Monkey", cursive;
    background: linear-gradient(#a2d2ff, rgb(244, 164, 191));
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, p{
    text-shadow: 0px 0px 6px black;
}

#srihitha{
    border-radius: 50%;
  width: 200px;      
  height: 200px;     
  object-fit: cover;
border: 6px solid palevioletred;
}

#bday-age{
    background: palevioletred;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date{
    background: palevioletred;
    padding: 5px 10 px;
    border-radius: 5px;
    margin: 5px 0 10px 0; 
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section{
    margin-top: 50px;
}
.gift-title{
   margin-bottom: 10px;
}
.gift-hint{
    margin-top: 0;
}

.gift-img{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.avif");
    background-size: cover;
    margin: 0 auto;
}
#gift-img-happy:hover{
    background-image: url("gif-1.gif");
}

#gift-img-grateful:hover{
    background-image: url("gif-2.gif") ;
}
#gift-img-precious:hover{
    background-image: url("gif-3.webp") ;
}
#gift-img-cute:hover{
    background-image: url("gif-4.gif");
}
#gift-img-world:hover{
    background-image: url("gif-5.gif") ;
}
#gift-img-cheers{
    height: 200px;
}
#gift-img-cheers:hover{
    background-image: url("gif-6.gif") ;
}
#footer{
    width: 400px;
    margin: 40px auto 20px;
    color: rgb(51, 35, 120);

}


